.addtofeed {
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--gray);
  margin-bottom: 10px;
  outline: 0;
}

.addtofeed__title {
  margin-top: 0;
  color: var(--dark);
}

.addtofeed__suggest {
  margin-bottom: 10px;
}

.addtofeed__suggest__btn {
  width: 95px;
  margin: 5px 0;
  display: block;
  border-radius: 20px;
  padding: 10px 10px;
  border: 1px solid var(--dark-gray);
  background-color: var(--white);
}

.addtofeed__suggest__btn_icon {
  margin-right: 5px;
}

.today-courses {
  background-color: var(--white);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--gray);
  margin-bottom: 10px;
}

.today-courses__link {
  color: var(--dark);
  display: block;
  margin-bottom: 10px;
}

.today-courses__link-title {
  margin: 0;
  font-size: 15px;
}

.today-courses__link-author {
  font-size: 12px;
  margin-left: 16px;
  margin-top: 5px;
  margin-bottom: 0;
}

.addtofeed__recommLink {
  display: inline-block;
  align-items: center;
  color: var(--dark-gray);
  font-family: var(--font-heading);
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
}

.addtofeed__recommLink:hover {
  background-color: var(--gray);
}

.addtofeed__recommLink_container {
  display: flex;
  align-items: center;
}

.addtofeed__recommLink_container span {
  display: block;
  margin-right: 5px;
}
