.comment {
  cursor: pointer;
  background-color: var(--gray);
  margin-bottom: 10px;
  border-radius: 0 10px 10px 10px;
}

.comment__container {
  padding: 10px;
}

.comment__container p {
  margin-left: 50px;
  margin-top: -15px;
}

.comment__owner {
  display: flex;
}

.comment__owner_img {
  border-radius: 50%;
}

.comment__owner_info {
  margin-left: 10px;
  font-size: 14px;
  font-family: var(--font-heading);
  color: var(--dark);
}
