.postButton {
  border: none;
  outline: none;
  padding: 10px 5px;
  background-color: var(--white);
  font-family: var(--font-heading);
  color: var(--dark-gray);
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 25%;
  justify-content: center;
}

.postButton:hover {
  background-color: var(--gray);
}

.postButton div {
  margin-right: 10px;
  font-size: 25px;
  display: flex;
  align-items: center;
  color: var(--dark-gray);
}

.postButton p {
  margin: 0;
  font-size: 15px;
}
