.startPost {
  outline: 0;
  padding: 10px;
  margin-bottom: 0;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.startPost__user_img_container {
  width: 50px;
  height: 50px;
}

.startPost__user_img {
  border-radius: 50%;
}

.startPost__btn {
  display: block;
  width: 100%;
  border-radius: 50px;
  align-self: center;
  text-align: left;
  padding: 15px 10px;
  background-color: var(--white);
  outline: none;
  border: 1px solid var(--dark-gray);
  margin-left: 10px;
  font-size: 13px;
  color: var(--dark-gray);
  cursor: pointer;
  font-family: var(--font-heading);
}

.startPost__btn:hover {
  background-color: var(--gray);
}
