.navbarButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  font-size: 13px;
  cursor: pointer;
  color: var(--dark-gray);
}

.navbarButton:hover {
  color: var(--dark);
}

.navbarButton span:nth-child(1) {
  font-size: 25px;
  line-height: 30px;
}

.active {
  border-bottom: 2px solid var(--dark);
  color: var(--dark);
}

@media screen and (max-width: 855px) {
  .navbarButton span:nth-child(1) {
    font-size: 35px;
    line-height: 40px;
  }
  .navbarButton {
    padding: 0 15px;
    font-size: 13px;
  }
  .navbarButton span:nth-child(2) {
    display: none;
  }
  .active {
    border-bottom: none;
  }
}
