.navbarButtonContainer {
  display: flex;
}

.navbarButtonContainer div:nth-child(1) {
  display: none;
}

.navbarButtonContainer > div:last-child {
  display: none;
}

@media screen and (max-width: 1080px) {
  .navbarButtonContainer div:nth-child(1) {
    display: flex;
  }
}

@media screen and (max-width: 570px) {
  .navbarButtonContainer div:nth-child(8),
  .navbarButtonContainer div:nth-child(7) {
    display: none;
  }
  .navbarButtonContainer div:last-child {
    display: flex;
  }
}

@media screen and (max-width: 435px) {
  .navbarButtonContainer div:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .navbarButtonContainer div:nth-child(5) {
    display: none;
  }
}
