.navbarButtonContainer {
  display: flex;
}

.navbarButtonContainer div:nth-child(1) {
  display: none;
}

.navbarButtonContainer > div:last-child {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbarButtonContainer div:nth-child(1) {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .navbarButtonContainer div:nth-child(5),
  .navbarButtonContainer div:nth-child(6),
  .navbarButtonContainer div:nth-child(8),
  .navbarButtonContainer div:nth-child(7) {
    display: none;
  }
  .navbarButtonContainer div:last-child {
    display: flex;
  }
}
