.navbarUser {
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px 5px;
  font-size: 13px;
  line-height: 25px;
}

.navbarUser:hover {
  color: var(--dark);
}

.navbarUser__image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.navbarUser div {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 855px) {
  .navbarUser div {
    display: none;
  }
}
