.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  background-color: var(--white);
  margin-bottom: 20px;
}

.navbar__searchbar_container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .navbar {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 520px) {
  .navbar {
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
