.navbarWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 5px;
  font-size: 13px;
  cursor: pointer;
  color: var(--dark-gray);
  border-left: 1px solid var(--gray);
}

.navbarWork:hover {
  color: var(--dark);
}

.navbarWork > span {
  font-size: 25px;
  line-height: 30px;
}

.active {
  color: var(--dark);
}

@media screen and (max-width: 855px) {
  .navbarWork div {
    display: none;
  }
  .navbarWork > span {
    font-size: 35px;
    line-height: 40px;
  }
  .navbarWork {
    padding: 0 15px;
    font-size: 13px;
  }
}
