.setLanguage {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setLanguage svg {
  color: var(--dark-gray);
}

.setLanguage svg:nth-of-type(1) {
  width: 28px;
  height: 28px;
}

.setLanguage:hover svg {
  color: var(--dark);
}

@media screen and (max-width: 520px) {
  .setLanguage svg:nth-of-type(1) {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 460px) {
  .setLanguage svg:nth-of-type(1) {
    width: 23px;
    height: 23px;
  }
}
@media screen and (max-width: 420px) {
  .setLanguage svg:nth-of-type(1) {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 360px) {
  .setLanguage svg:nth-of-type(1) {
    width: 17px;
    height: 17px;
  }
}
