.postComments__user_img_container {
  width: 50px;
  height: 50px;
}

.postComments__user_img {
  border-radius: 50%;
}

.postComments__textarea {
  display: block;
  width: 100%;
  border-radius: 50px;
  align-self: center;
  text-align: left;
  padding: 15px 15px;
  height: fit-content;
  background-color: var(--white);
  outline: none;
  border: 1px solid var(--dark-gray);
  margin-left: 10px;
  font-size: 13px;
  color: var(--dark-gray);
  font-family: var(--font-heading);
  resize: none;
}

.postComments__postButton {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 15px;
  padding: 5px 10px;
  outline: 0;
  border: 0;
  cursor: pointer;
  margin: 0 0 10px 55px;
}
