.sortby {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.sortby__hr {
  width: 100%;
  margin-right: 5px;
}

.sortby__title {
  display: inline-block;
  width: 90px;
  font-size: 12px;
  color: var(--dark);
}

.sortby__dorp_down {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--light-gray);
  font-family: var(--font-heading);
  color: var(--dark);
  font-size: 13px;
}
