.pendingInvitations {
  background-color: var(--white);
  padding: 0 var(--padding-container);
  border-radius: var(--border-radius-container);
  border: var(--border-container);
  outline: 0;
  border-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
  margin-bottom: 10px;
}

.pendingInvitations div {
  color: var(--dark);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.pendingInvitations div:hover {
  background-color: var(--gray);
}
