.bodyContainer {
  display: flex;
  flex-direction: row;
}

.bodyContainer__side_left {
  flex: 0.22;
  width: 100%;
  margin-right: 5px;
}

.bodyContainer__main {
  flex: 0.5;
  width: 100%;
  margin: 0 5px;
}

.bodyContainer__side_right {
  flex: 0.28;
  width: 100%;
  margin-left: 5px;
}

.bodyContainer__section_left {
  flex: 0.3;
  width: 100%;
  margin-right: 5px;
}

.bodyContainer__section_right {
  flex: 0.7;
  width: 100%;
  margin-left: 5px;
}

@media screen and (max-width: 1080px) {
  .bodyContainer__side_right {
    display: none;
  }
  .bodyContainer__main {
    flex: 0.68;
    width: 100%;
  }
  .bodyContainer__side_left {
    flex: 0.32;
    width: 100%;
  }
}

@media screen and (max-width: 855px) {
  .bodyContainer {
    display: block;
  }
}
