:root {
  --dark: #191919;
  --white: #fff;
  --light-gray: #f3f2ef;
  --dark-gray: #666666;
  --blue: #0a66c2;
  --gray: #e0dfdc;
  --font-text: Nunito-Regular;
  --font-heading: Nunito-Bold;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito-Regular, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-padding {
  padding: 0 100px;
}

.section-margin {
  margin: 0 100px;
}

@media screen and (max-width: 750px) {
  .section-padding {
    padding: 0 70px;
  }
  .section-margin {
    margin: 0 70px;
  }
}

@media screen and (max-width: 700px) {
  .section-padding {
    padding: 0 40px;
  }
  .section-margin {
    margin: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  .section-padding {
    padding: 10px;
  }
  .section-margin {
    margin: 10px;
  }
}
