:root {
  /* Colors */
  --dark: #191919;
  --white: #fff;
  --light-gray: #f3f2ef;
  --dark-gray: #666666;
  --blue: #0a66c2;
  --light-blue: #e2f0fe;
  --gray: #e0dfdc;
  --font-text: Nunito-Regular;
  --font-heading: Nunito-Bold;
  --like-button-blue: #0a66c2;
  --error: #c62828;
  /* Everything else... */
  --border-container: 1px solid var(--gray);
  --border-radius-container: 10px;
  --border-radius-button: 20px;
  --padding-container: 10px;
  --transition-dropDown: opacity 0.5s ease;
}
/* Silver Theme */
[data-theme="dark"] {
  --dark: #fff;
  --white: #191919;
  --light-gray: #202124;
  --dark-gray: #cfcfcf;
  --blue: #cfcfcf;
  --light-blue: #292929;
  --gray: #292929;
  --font-text: Nunito-Regular;
  --like-button-blue: #0a66c2;
  --font-heading: Nunito-Bold;
  --error: #c62828;
}
/* Gold Theme */
/* [data-theme="dark"] {
  --dark: #ffd700;
  --white: #191919;
  --light-gray: #202124;
  --dark-gray: #dfaf37;
  --blue: #dfaf37;
  --light-blue: #292929;
  --gray: #292929;
  --font-text: Nunito-Regular;
  --font-heading: Nunito-Bold;
} */
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--light-gray);
  font-family: Nunito-Regular, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: 1px solid var(--gray);
}

* {
  box-sizing: border-box;
}

.section-padding {
  padding: 0 100px;
}

.section-margin {
  margin: 0 100px;
}

@media screen and (max-width: 750px) {
  .section-padding {
    padding: 0 70px;
  }
  .section-margin {
    margin: 0 70px;
  }
}

@media screen and (max-width: 700px) {
  .section-padding {
    padding: 0 40px;
  }
  .section-margin {
    margin: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  .section-padding {
    padding: 10px;
  }
  .section-margin {
    margin: 10px;
  }
}
